* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
}

.about-us {
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    width: 100%;
}

.about-us__header {
    display: inline-block;
    position: relative;
    
    padding: 65px;
    margin-top: 60px;

    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.about-us__header::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 3px;
    background: #f1ad1d;
    position: absolute;
    left: 45%;
    bottom: 0;
}

.about-us__description {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    padding-bottom: 150px;
}

.highlighted {
    color: #F1AD1D;
}